// app global css in SCSS form
.color-custom {
  color: $button;
}

.btn-custom {
  background-color: $button;
  color: white;
}

.subtitle-custom {
  font-weight: 100;
  font-size: 12px;
  font-style: italic;
}

.card-custom {
  border: 1px dashed $button;
  border-radius: 4px 30px 4px;
}

.btn-position-drop {
  top: -4px;
  right: -6px;
}
//overwrite style
.body {
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', 'Helvetica', 'Arial',
    'sans-serif';
}
.q-field__control {
  color: $button;
  background-color: $grey;
}

.q-field--outlined .q-field__control {
  border-radius: 8px;
}

.q-field--outlined .q-field__control:before {
  border: none;
}

.q-layout__section--marginal {
  background-color: $button;
}
